* {
  box-sizing:border-box;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 20px;
}
body {
  background-image: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
  text-align: center;
  justify-content:center;
  background-size: 100%;
  min-height: 100vh;
  align-items: center;
  font-family:sans-serif;
}

.box {
  background-color: #283e50;
  width: 350px;
  margin: 10px auto;
}

.obrazek {
  border-radius: 15px 15px 0 0;
}

.tlacitko-pravidla,.tlacitko-uvod {
  background-color: #1fcca4;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-bottom: 1px solid black;
}
.tlacitko-pravidla:hover, .tlacitko-uvod:hover {
  background-color: #1cbb96;
}

.tlacitko-hrat {
  background-color: #0197f6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}
.tlacitko-hrat:hover {
  background-color: #0090e9;
}

a {
  color: white;
  text-decoration: none;
}

/*druhy ukol*/

.kolecko, .krizek {
  width: 1em;
  height: 1em;
  filter:invert(100%);
}

.piskvorky {
  padding-right:20px;
  padding-left:20px;
}

.textyPravidla li {
  margin-top:10px;
  text-align:justify;
}

.pravidla {
  padding-right: 20px;
  padding-left: 20px;
}

img.instructions {
 margin-top:20px;
 width:100%;
}

.kontejner {
  background-color: #283e50;
  border-radius: 15px 15px 0 0;
  margin: 15px auto;
  width:800px;
}

.instrukce {
font-size:14px;
text-align:center;
margin:0px 0px 30px 0px;
}


@media screen and (min-width:500px){
	.obrazky{
		display: flex;
    flex-wrap:wrap;
    justify-content:space-between;}

.instrukce {
flex-basis:calc((100% - 20px) / 2);
}
    }

@media screen and (min-width:800px){
    .kontejner {
      width: 50%;
    }
        }


/*treti ukol*/

h3 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  margin: 20px;
  margin-left:500px;
}

.strankaHra{
  width: 80vw; 
  height: 80vw
}

.hraje {
  color:white;
  font-size: 30px;
  padding-left:10px;
}

.tlacitkoDomecek {
  background-color:#1fcca4;
  padding: 20px 30px;
  font-size: 10px;
  margin: 4px 2px;
  width: 8%;
  border-radius:6px;
}

.tlacitkoDomecek:hover, :focus {
    background-color: #1cbb96;
  }

.tlacitkoRestart {
  background-color: #0197f6;
  color: white;
  padding: 20px 30px;
  font-size: 10px;
  margin: 4px 2px;
  width: 8%;
  border-radius:6px;
}

.tlacitkoRestart:hover, :focus {
  background-color:  #0090e9;
}

.text {
  display:flex;
  justify-content:space-between;
  width: 80vw;
  margin-left:110px;
}

.buttonTlacitko {
  width: 10%;
  border: 1px solid;
  margin:0;
  padding:0;
  background-color: rgb(255,105,180, 0.3);
}

.buttonTlacitko:hover {
 background-color: rgb(255,105,180, 0.5);
}

.tlacitka {
  display:flex;
  justify-content:flex-end;
  margin-bottom: 30px;
  margin-left:500px;
}

.buttons {
 display: flex; 
 flex-wrap: wrap; 
 width: 80vw; 
 height: 80vw;
 margin-left:110px;
    }


.circle {
width: 0.7em;
height: 0.7em;
filter:invert(100%);
    }

.hra {
 max-width: 80vmin;
    }