h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin: 20px;
}
body {
  background-image: linear-gradient(#615dad, #ffc8da);
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #283e50;
  width: 400px;
  margin: 10px auto;
  border-radius: 15px 15px 0 0;
}
.tlacitko-pravidla {
  background-color: #1fcca4;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}
.tlacitko-pravidla:hover {
  background-color: #1cbb96;
}

.tlacitko-hrat {
  background-color: #0197f6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
}
.tlacitko-hrat:hover {
  background-color: #0090e9;
}

a {
  color: white;
  text-decoration: none;
}
